<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://www.slh.wisc.edu"><img src="img/logos/{{ site.logo }}" class="img-logo img-centered" alt="{{ site.logo_alt }}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/">Home</a>
                    </li>
                    {% for anchor in page.anchors %}
                    <li>
                        <a class="page-scroll" href="#{{ anchor | downcase | replace: ' ', '-' }}">{{ anchor }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header style="background-image: url('{{ site.baseurl }}/img/dashboards/{{page.img}}');" class="background-tint">
        <div class="container">
            <div class="intro-text">
                <div class="dash-title">{{page.title}}</div>
                <div class="dash-subtitle">{{page.subtitle}}</div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

